@media screen and (min-width: 32.5em) {

    body {
        max-width: 1200px;
        margin: 0 auto;
        padding: 4em;
      }
    
    nav {
        flex-direction: row;
        line-height: 3em;
      }

    nav a {
        width: 120px;
    }

    nav a:hover::after {
      width: 100%;
    }

    header h1 {
        font-size: 2em;
    }

    header h2 {
        font-size: 1.5em;
    }

    th, td {
      display: table-cell;
      border: 1px solid black;
      padding: 8px;
    }

    th {
      font-size: 18px;
    }

    img.large {
      width: 95%;
    }

    img.medium {
      width: 80%;
    }

    img.small {
      width: 30%;
    }

  }