@media only screen and (min-width: 32.5rem) {

  header p {
    padding: 1vw;
    font-size: 12px;
  }



  main #grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 2px;
  }

  main section.hero-image {
    grid-column: 1/3;
  }

  main section.event {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  main section.weather {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  main section.news {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  main section#spotlight {
    grid-column: 1/3;
    grid-row: 3/4;
    align-items: center;
    justify-items: center;
    display: inline-flex;
  }

  main section#join {
    display: unset;
    grid-column: 1/3;
    grid-row: 4/5;
  }
  

  main section#spotlight div {
    margin: 5px;
    height: 80%;
    width: 80%;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .footer-grid section {
    padding: 1vw;
  }

}