@media only screen and (min-width: 32.5rem) {

  /*** General rules ***/

  /*** Header ***/

  header p {
    padding: 1vw;
    font-size: 12px;
  }

  /*** Navigation ***/

  /*** Main ***/

  main #grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  /*** Hero ***/

  main figure.hero-image {
    grid-column: 1/3;
  }

  /*** Event Section ***/


  main section.event {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  /*** Weather Section ***/

  main section.weather {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .weather-div h2{
    font-size: 1em;
  }
  
  .weather-div #current-temp {
    font-size: 3em;
  }
  
  .weather-div .weather-icon {
    margin-left: 15px;
    font-size: .8em;
  }
  
  .weather-div .temp p {
    font-size: .6em
  }
  
  .weather-div .wind p {
    font-size: .8em
  }

  figcaption {
    font-size: .8em;
  }

  main section.news {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  main section.spotlight {
    grid-column: 1/3;
    grid-row: 3/4;
    align-items: center;
    display: inline-flex;
    background-color: var(--accent2-color);
    border:solid 1px black;
    height: 210px;
  }

  main section.join {
    display: unset;
    grid-column: 1/3;
    grid-row: 4/5;
  }
  
  main section.spotlight div {
    background-color: var(--accent2-color);
    border:solid 1px black;
    margin: 2%;
    height: 190px;
    text-align: center;
    font-size: .8rem;
  }

  .join {
    text-align: center;
    background-color: var(--accent2-color);
  }
  
  .join h2{
    margin-top: 3.4rem;
    color: var(--primary-color);
    font-size: 20px;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

  .footer-grid section {
    padding: 1vw;
  }


  th, td {
    display: table-cell;
    border: 1px solid black;
    padding: 8px;
  }

  .photo-card:hover {
    transform: scale(1.05);
  }

}